# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_update-notifier-last-checked
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_33_51_500Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_33_57_317Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_33_58_663Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_34_00_443Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_34_03_887Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_34_04_471Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_34_17_046Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_34_18_659Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_34_20_063Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_34_21_594Z-debug-0.log
apps/websocket backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_34_22_683Z-debug-0.log
apps/http backend/UsersOwnerAppDataRoamingnpm-cache/_update-notifier-last-checked
apps/http backend/UsersOwnerAppDataRoamingnpm-cache/_cacache/content-v2/sha512/db/71/fb070fa358562e2421c12728aa5097fdf79536137d8cf1251a3d60b62455af793e7a040228ebd905816ae5e77620d700913ebb0e7a9b83d6a724929c89a0
apps/http backend/UsersOwnerAppDataRoamingnpm-cache/_cacache/index-v5/1a/8a/5a53540668ad6b539fd5ff50f3295ecb87c13cbde5b7c90861ef5c9f5fca
apps/http backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_15_28_737Z-debug-0.log
apps/http backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_31_22_005Z-debug-0.log
apps/http backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_31_39_667Z-debug-0.log
apps/http backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_31_43_402Z-debug-0.log
apps/http backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_31_55_290Z-debug-0.log
apps/http backend/UsersOwnerAppDataRoamingnpm-cache/_logs/2025-01-13T11_34_28_051Z-debug-0.log
